.prompt {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  padding: 10px 20px;
}
.prompt .prompt-detail {
  max-width: 55%;
}
.prompt .prompt-detail .prompt-body {
  margin-bottom: 1em;
}
.prompt .prompt-detail .prompt-body h2 {
  margin: 0;
  font-family: "essonnes-headline", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.55em;
}
.prompt-detail h2::first-letter {
  text-transform: uppercase !important;
}
.prompt .prompt-detail .prompt-body .text-cont {
  /* making this flex wraps a single sentence next line? */
  /* display: flex; */
  margin-top: 0.55em;
  margin-left: 0.55em;
}
.prompt .prompt-detail .prompt-body p {
  font-family: "essonnes-display", serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.1em;
  word-spacing: 1px;
  letter-spacing: 0.55px;
}
.prompt .prompt-detail .prompt-body p::first-letter {
  text-transform: uppercase;
  font-family: "essonnes-display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.55em;
  padding: 1.2% 0.7% 0.1em 0.35em;
  float: top;
}
.prompt .prompt-detail .prompt-body .user-info {
  /* background: lightblue; */
  margin: 1% 0 10% 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}
.prompt .prompt-detail .prompt-body .user-info .avatar {
  width: 25px;
  height: 25px;
  margin-right: 1px;
}
.prompt .prompt-detail .prompt-body .user-info span {
  font-size: 13px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 400;
  font-style: normal; 
  letter-spacing: 0.90px;
}
.prompt .prompt-detail .prompt-body .user-info p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
.prompt .prompt-detail .prompt-body .user-info .date {
  font-size: 12px;
  color: var(--text-info-value);
}

/* ACTIONS - FOR UPDATING/DELETING A PROMPT */
.prompt .prompt-detail .actions {
  /* background: pink; */
  width: 100%;
  margin-top: 8%;
}
.prompt .prompt-detail .actions p {
  font-size: 0.7em;
  cursor: pointer;
}
.prompt .prompt-detail .actions p:hover {
  color: var(--primary-highlight);
}

/* COMMENTS */
.prompt .prompt-comments {
  margin-top: 2%;
  border-top: 0.55px solid var(--accent-color);
  max-width: 55%;
  padding-right: 20px;
}
.prompt .prompt-comments h3 {
  font-size: 16px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.95px;
}
.prompt .prompt-comments span {
  font-size: 12px;
}
.prompt .prompt-comments .comment-form {
  display: flex;
  margin-bottom: 1.5em;
}
.prompt .prompt-comments .comment-form .add-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.35em;
}
.prompt .prompt-comments .comment-form textarea {
  background-color: var(--bg-whitesmoke);
  margin-top: 4px;
  margin-bottom: 1.5px;
  border: none;
  color: var(--text-color);
  padding: 10px;
  min-height: 40px;
  width: 100%;
  border-radius: 3px;
  resize: none;
  font-family: inherit;
  font-size: 12px;
}
.prompt .prompt-comments .comment-form textarea:focus {
  outline: none;
}
.prompt .prompt-comments .comment-form button,
.prompt .prompt-detail .actions button {
  font-size: 12px;
  color: var(--primary-highlight);
  padding: 0 5px;
  margin: 0% !important;
  background: none;
  letter-spacing: 0.8px;
}
.prompt .prompt-comments .comment-form button:hover,
.prompt .prompt-detail .actions button:hover {
  text-decoration: underline;
}
.prompt .prompt-comments .comment-card {
  margin-top: 1em;
}
.prompt .prompt-comments .comment-card h3 {
  font-size: 13px;
}
.prompt .prompt-comments .comment-card ul {
  margin: 0;
}
.prompt .prompt-comments .comment-card li {
  background: var(--bg-whitesmoke);
  border-radius: 3px;
  padding: 10px;
  list-style: none;
  margin-bottom: 0.55em;
  width: 100%;
}
.prompt .prompt-comments .comment-card .comment-author {
  display: flex;
  justify-content: flex-start;
  gap: 0.15em;
  align-items: center;
}
.prompt .prompt-comments .comment-card .comment-author .avatar {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}
.prompt .prompt-comments .comment-card .comment-author p,
.prompt .prompt-comments .comment-card .comment-content p {
  font-size: 12px;
}
.prompt .prompt-comments .comment-card .comment-date p {
  color: var(--text-info-value);
}