.prompt {
  display: flex;
  flex-direction: column;
  margin: 3% 5%;
  padding: 15px 35px;
  /* border: 1px blue solid; */
}
.prompt .prompt-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 1px yellow solid; */
}
.prompt .prompt-detail .user-info {
  /* background-color: lightblue; */
  margin-bottom: 4%;
}
.prompt .prompt-detail .user-info .avatar {
  width: 50px;
  height: 50px;
}
.prompt .prompt-detail .user-info p {
  font-size: 13px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 400;
  font-style: normal; 
  letter-spacing: 0.95px;
}
.prompt .prompt-detail .user-info .username,
.prompt .prompt-detail .user-info .date {
  font-family: "forma-djr-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-left: 3px;
  text-transform: uppercase;
}
.prompt .prompt-detail .user-info .username {
  color: var(--primary-highlight);
}
.prompt .prompt-detail .user-info .date {
  font-size: 12px;
  color: var(--text-info-value);
}

.prompt .prompt-detail .prompt-body {
  /* background-color: palegreen; */
  margin-top: 5px;
  max-width: 500px;
  overflow-x: hidden;
  word-wrap: wrap;
}
.prompt .prompt-detail .prompt-body h2 {
  margin: 0;
  font-family: "essonnes-headline", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6em;
}
.prompt-detail h2::first-letter {
  text-transform: uppercase;
}
.prompt .prompt-detail .prompt-body .text-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  border-top: 0.55px solid var(--accent-color);
}
.prompt .prompt-detail .prompt-body p {
  font-family: "essonnes-display", serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.3em;
  word-spacing: 1.5px;
}
.prompt .prompt-detail .prompt-body p::first-letter {
  text-transform: uppercase;
  font-family: "essonnes-display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.55em;
  padding: 1.2% 0.7% 0.1em 0;
  float: top;
}

/* ACTIONS - FOR UPDATING A PROMPT */
.prompt .prompt-detail .actions {
  /* background: pink; */
  margin-top: 2%;
  min-width: 7%;
  display: flex;
  justify-content: space-between;
}
.prompt .prompt-detail .actions p {
  font-size: 0.7em;
  cursor: pointer;
}
.prompt .prompt-detail .actions p:hover {
  color: var(--primary-highlight);
}

/* COMMENTS */
.prompt .prompt-comments {
  /* background: pink; */
  margin-top: 1%;
  border-top: 0.55px solid var(--accent-color);
}
.prompt .prompt-comments .title h3 {
  font-size: 16px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.95px;
}
.prompt .prompt-comments span {
  font-size: 13px;
}
.prompt .prompt-comments .comment-form {
  /* background: pink; */
  display: flex;
  height: 50px;
}
.prompt .prompt-comments .comment-form .add-comment {
  min-width: 55%;
  display: flex;
  align-items: center;
  gap: 1em;
}
.prompt .prompt-comments .comment-form textarea {
  background-color: var(--bg-whitesmoke);
  border: none;
  color: var(--text-color);
  padding: 5px;
  width: 100%;
  resize: none;
  font-family: inherit;
}
.prompt .prompt-comments .comment-form textarea:focus {
  outline: none;
  border-radius: 3px;
}
.prompt .prompt-comments .comment-form button {
  font-size: 12px;
  padding: 10px 13px;
}
.prompt .prompt-comments .comment-card {
  background: blue;
  margin-top: 2.5%;
  display: flex;
}
.prompt .prompt-comments .comment-card li {
  background: pink;
  list-style: none;
  min-width: 410px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.prompt .prompt-comments .comment-card .comment-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prompt .prompt-comments .comment-card .comment-author .avatar {
  width: 35px;
  height: 35px;
}