.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/SOFBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-item-1 {
  display: flex;
  width: 100%;
  max-width: 90%;
  justify-content: center;
  /* border: 1px yellow solid;  */
}
.logo-cont {
  max-width: 28vw;
  padding-right: 20px;
  border-right: 0.55px #fff solid;
  padding: 15px;
}
.landing-logo {
  width: 100%;
}
.message-cont {
  max-width: 50vw;
  align-self: flex-end;
  padding: 15px;
  /* border: 1px yellow solid; */
}
.message-cont h2 {
  color: #ffffff;
  margin: 0 !important;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 23px;
  font-family: "contralto-small", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.message-cont span {
  text-transform: lowercase;
  font-size: 25px;
  font-family: "scotch-display", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.message-cont .ampersand {
  font-size: 50px;
  margin-left: 2px;
}
.flex-item-2 {
  display: flex;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  border-top: 0.55px #fff solid;
  border-bottom: 0.55px #fff solid;
}
.flex-item-2 .vision {
  padding: 10px;
  max-width: 62%;
}
.flex-item-2 .vision p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.flex-item-3 {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.flex-item-3 .get-started h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  font-size: 22px;
  font-family: "contralto-small", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.flex-item-3 .get-started span {
  font-family: "krul", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
}
.flex-item-3 .btn-cont {
  display: flex;
  gap: 10px;
  width: 30%;
}
.flex-item-3 .btn-cont button {
  width: 100% !important;
  letter-spacing: 0.25px;
  /* border: 0.55px #fff solid; */
}



/* .typewriter-logo h1 {
  font-size: clamp(1.5rem, 3vw + 1.5rem, 5rem);
  position: relative;
  font-family: 'Oxygen Mono', monospace;
  position: relative;
}
.typewriter-logo h1::before,
.typewriter-logo h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.typewriter-logo h1::before {
  background: var(--bg-color);
  animation: 
    typewriter var(--typewriter-speed) steps(var(--typewriter-steps)) 2s forwards;
}
.typewriter-logo h1::after {
  width: 0.025em;
  height: 93%;
  background: var(--text-color);
  margin-left: 2.5px;
  animation: 
    typewriter var(--typewriter-speed) steps(var(--typewriter-steps)) 2s forwards,
    blink 750ms steps(var(--typewriter-steps)) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
} */



