.landing {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  background-image: url("../../assets/SOFBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flexbox-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  order: 1;
  padding: 2%;
  border-left: 1.2px solid rgb(245, 245, 245, 0.5);
  /* background: gray; */
}
.logo-cont {
  min-width: 28vw;
  max-width: 35vw;
  padding: 10px;
  /* background-color: yellow; */
}
.landing-logo {
  width: 90%;
}
.message-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0 10px 8px;
}
.message-cont h2 {
  color: #ffffff;
  margin: 0 !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "contralto-small", sans-serif;
  font-weight: 300;
}
.message-cont span {
  line-height: 1px;
  margin-left: 4px;
  font-size: 35px;
  font-family: "scotch-display", sans-serif;
}
.flexbox-2 {
  /* background: yellow; */
  max-width: 28%;
  padding: 10px;
}
.btn-cont {
  display: flex;
  justify-content: space-evenly;
}
.btn-cont button {
  font-size: 15px;
}
.btn-cont button:hover {
  border: 0.9px solid var(--primary-highlight);
  background: transparent;
}