.hamburger-menu .icon-box {
  display: flex;
  justify-content: flex-end;
}
.hamburger-menu .menu-icon {
  font-size: 25px;
  color: var(--primary-color);
}
.hamburger-menu .menu-icon-box {
  position: absolute;
  top: 0;
  padding: 6%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon-box .action-btn {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.menu-icon-box .icon {
  font-size: 20px;
}
.menu {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-image: url("../assets/SOFBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}
.menu .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  width: 80%;
  margin-bottom: 10%;
  /* background: pink; */
}
.menu .user .avatar {
  width: 100px;
  height: 100px;
}
.menu .user p {
  font-size: 22px;
}
.menu .links ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu .links a {
  display: flex;
  align-items: center;
  padding: 8% 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}
.menu .sb-icons {
  margin-right: 15px;
  font-size: 1.8rem;
}
.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}