.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom:  0.25px solid var(--accent-color); */
  padding: 25px;
  height: 127px;
  max-height: 127px;
  background-color: #f5f5f5ac;
}
.nav-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px red solid; */
}
.nav-action .nav-icon {
  text-align: bottom;
}
.prompt-cont {
  max-width: 230px;
}
.prompt-cont .navbar-logo {
  width: 100%;
}

