.navbar {
  /* padding: 10px 0!important; */
  /* margin-bottom: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
  padding: 25px;
  height: 169px;
  max-height: 169px;
}
.nav-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px red solid; */
}
.nav-action .nav-icon {
  text-align: bottom;
}
.prompt-cont {
  max-width: 15vw;
}
.prompt-cont .navbar-logo {
  width: 100%;
}

