.sidebar {
  width: 260px;
  min-width: 260px;
  background: var(--bg-sidebar);
  min-height: 100vh;
  position: relative;
  color: #fff;
}
.sidebar-content {
 /* if the contents inside the sidebar is bigger than its parent div (sidebar), we'll be able to scroll through them bc we're inheriting its parents width and is fixed */
  position: fixed;
  width: inherit;
}
.sidebar .user {
  text-align: center;
  padding: 40px;
}
.sidebar .links {
  margin-top: 20px;
  margin-left: 35px;
}
.sidebar .links li {
  margin-top: 15px;
  list-style: none;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .sb-icons {
  margin-right: 13px;
  font-size: 23px;
}
.sidebar .sb-icons.active {
  filter: invert(100%);
}
.sidebar .links a.active {
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
