.sidebar {
  width: 22vw;
  min-width: 22vw;
  min-height: 100vh;
  position: relative;
  color: #fff;
  background-image: url("../assets/SOFBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar-content {
 /* if the contents inside the sidebar is bigger than its parent div (sidebar), we'll be able to scroll through them bc we're inheriting its parents width and is fixed */
  position: fixed;
  width: inherit;
}
.sidebar .user {
  text-align: center;
  padding: 10px;
  min-height: 30vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}
.sidebar .user .btn-cont {
  margin-top: 5px;
}
.sidebar .user .action-btn {
  display: flex;
  align-items: center;
  color: white !important;
  font-size: 13px;
  /* text-transform: uppercase; */
}
.sidebar .user .action-btn .icon {
  font-size: 14px;
  margin-left: 3px;
}
.sidebar .avatar {
  width: 55px;
  height: 55px;
}
.sidebar .links {
  padding-left: 3.5vw;
  display: flex;
  flex-direction: column;
  /* border: 1px red solid; */
}
.sidebar .links ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar .links a {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}
.sidebar .sb-icons {
  margin-right: 10px;
  font-size: 1.2rem;
}
.sidebar .sb-icons.active {
  filter: invert(100%);
}
.sidebar .links a.active {
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}

/* under 600px */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

/* over 740px (worked on 768px -- ipad mini) */
@media (min-width: 740px) and (max-width: 850px) {
  .sidebar {
    width: 26vw;
    min-width: 26vw;
  }
  .sidebar .user {
    min-height: 25vh;
  }
}