/* PROMPT FILTER */
.prompt-filter {
  margin-top: -25px;
  /* background: pink; */
}
.prompt-filter p {
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.prompt-filter nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}
.prompt-filter button {
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.80em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.prompt-filter button.active {
  color: var(--primary-color);
  letter-spacing: 4px;
  font-style: italic;
  border-radius: 0 !important;
} 


/* PROMPT LIST */
.prompt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 10px 20px;
  margin-bottom: 6%;
  /* border: 2px blue solid; */
}
.prompt-card {
  /* border: 1px red solid; */
  background: #eceef06b;
  width: 400px;
  margin: 10px auto;
  padding: 13px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.prompt-card:hover {
  background: var(--bg-color);
}
.prompt-card .user-info {
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 0.35em;
  /* background: pink; */
}
.prompt-card .user-info .avatar {
  max-height: 30px;
  max-width: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.prompt-card .user-info span, 
.prompt-card .user-info p {
  font-size: 0.70em;
  text-transform: uppercase;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.prompt-card .user-info p {
  color: var(--text-info-value);
}
.prompt-card .prompt-info {
  /* border: 1px red solid; */
  width: 100%;
  overflow: hidden;
}
.prompt-card .prompt-info h5 {
  margin: 0 !important;
  font-size: 1.05em;
  font-family: "contralto-small", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.prompt-card .prompt-info p {
  font-size: 0.85em;
  color: var(--text-info);
}
.prompt-card .prompt-info p::first-letter,
.prompt-card .prompt-info h5::first-letter {
  text-transform: uppercase;
}
.prompt-card .prompt-info .read-more {
  font-family: var(--body-font);
  font-size: 0.85em;
  color: var(--text-info-value);
}