/* PROMPT FILTER */
.prompt-filter {
  display: flex;
  /* border-bottom:  0.25px solid var(--accent-color); */
}
.prompt-filter nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--bg-whitesmoke);
  /* border-bottom:  0.25px solid var(--accent-color); */
}
.prompt-filter button {
  margin: 0 !important;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.prompt-filter button:hover {
  color: var(--primary-highlight);
  font-weight: 700;
}
.prompt-filter button.active {
  color: var(--primary-color);
  font-weight: 700;
} 

/* PAGE TITLE */
.home .page-title span {
  font-weight: 700;
}

/* PROMPT LIST */
.prompt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 25px 20px;
  /* border: 1px blue solid; */
}
.prompt-card {
  /* border: 1px red solid; */
  background: #eceef06b;
  width: 400px;
  /* margin: 10px auto; */
  padding: 13px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prompt-card:hover {
  background-color: var(--bg-whitesmoke);
}
.prompt-card .user-info {
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 0.15em;
}
.prompt-card .user-info .avatar {
  max-height: 30px;
  max-width: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 3px;
}
.prompt-card .user-info span, 
.prompt-card .user-info p {
  letter-spacing: 0.55px;
  font-size: 0.70em;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* .prompt-card .user-info span {
} */
.prompt-card .user-info p {
  color: var(--text-info-value);
}
.prompt-card .prompt-info {
  width: 100%;
  overflow: hidden;
}
.prompt-card .prompt-info h5 {
  margin: 0 !important;
  font-size: 0.9em;
  font-family: "contralto-small", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}
.prompt-card .prompt-info p {
  font-size: 0.75em;
  color: var(--text-info);
}
.prompt-card .prompt-info p::first-letter,
.prompt-card .prompt-info h5::first-letter {
  text-transform: uppercase;
}
.prompt-card .prompt-info .read-more {
  font-size: 0.85em;
  /* text-decoration: 0.75px underline; */
  /* text-underline-offset: 1.2px; */
  color: var(--text-info-value);
}