.paper {
  background: rgba(245, 245, 245, 0.747);
  border-radius: 3px;
  width: 50vw;
  min-height: 60vh;
  display: flex;
}
.paper-content {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}
.paper-content input,
.paper-content textarea {
  font-size: 1em;
  font-family: inherit;
  color: var(--text-color);
  padding: 12px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  border-bottom: 0.8px solid var(--accent-color);
  background: transparent;
  margin-bottom: 30px;
}
.paper-content textarea {
  min-height: 200px;
}
.paper-content .select {
  margin-top: 20px;
}
.paper-content span {
  font-size: 0.85em;
}
.paper-content .buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}