/* font-family: 'Karla', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

.modalBG {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

.modalContent {
  max-width: 410px;
  margin: 0 auto;
  padding: 40px 20px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  text-align: center;
}

.container-items {
  width: 100%;
  max-width: 440px;
}

.form {
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.form h2 {
  text-align: center;
  margin-bottom: 10%;
  font-size: 2em;
  font-weight: 300;
}

.form a {
  color: var(--primary-color);
}
.form a:hover {
  color: var(--primary-highlight);
}

.form ::placeholder {
  /* opacity for Firefox users */
  opacity: 1;
  color: rgb(153, 152, 152);
  font-size: 1em;
  font-weight: 300;
}

.form input {
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(103, 102, 102);
  min-width: 100%;
  height: 4vh;
  margin: 0.3em 0;
  padding: 25px 15px;
  border: none;
  border-bottom: 0.1px solid rgb(184, 184, 184);
  outline: none;
}

.form input:focus {
  background-color: rgba(123, 120, 121, 0.1);
  border-radius: 3px;
}

.form label {
  margin: 3% 0 0 1em;
  font-size: 1em;
}
