.modalContent {
  border-radius: 10px;
  text-align: center;
}
.modalContent h2 {
  color: var(--primary-highlight);
  margin-block-start: 0 !important;
  font-size: 1em;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
}
.modalContent .form-icon {
  color: var(--primary-highlight);
  font-size: 1.15em;
}
.modalContent form {
  font-size: 0.85em;
  overflow: hidden;
}
.modalContent form ::placeholder {
  /* opacity for Firefox users */
  opacity: 1;
  color: #ffffff !important;
  font-family: var(--body-font);
  font-size: 1em;
}
.modalContent form input {
  font-size: 13px;
  color: var(--text-color);
  min-width: 80%;
  height: 1.8vh;
  margin: 0.3em 0;
  padding: 15px;
  border: none;
  border-bottom: 1.2px solid rgb(245, 245, 245, 0.5);
  outline: none;
  background: none;
}
.modalContent form input:focus {
  background-color: rgb(245, 245, 245, 0.5);
  border-bottom: none;
  border-radius: 3px;
}
.modalContent form input[type="file"] {
  border-bottom: none !important;
}
.modalContent .avatar-input p {
  font-size: 0.85em;
}
.modalContent .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent button {
  width: 75% !important;
}
.btn-container {
  display: flex;
  margin: 15px auto;
  width: 90%;
}
.form-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 10px 5px 10px;
  font-size: 0.75em;
}
.form-info span {
  color: var(--primary-highlight);
  font-weight: bold;
  cursor: pointer;
}
.form-info span:hover {
  color: #ffffff;
}
.avatar-input {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.avatar-input p {
  color: var(--text-color);
  font-size: 1.1em;
  text-align: left;
  padding-left: 17px;
  margin-block-end: 0!important;
}
.modalContent input::file-selector-button {
  color: var(--text-color);
  padding: 0.3em;
  border: 0.55px solid var(--accent-color);
  border-radius: 3px;
}
.modalContent input::file-selector-button:hover {
  background: rgb(188, 188, 188);
  border-color: rgb(188, 188, 188);
}
.err-container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 740px) and (max-width: 850px) {
  .modalContent h2 {
    font-size: 1.2em;
  }
  .modalContent .form-icon {
    font-size: 1.5em;
  }
  .modalContent form,
  .modalContent form ::placeholder {
    font-size: 1.1em;
  }
  .modalContent form input {
    font-size: 15px;
  }
  .form-info {
    font-size: 0.85em;
  }
  .avatar-input {
    padding: 0 30px;
  }
}