body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.App {
  display: flex;
}
.App .app-container {
  flex-grow: 1;
  padding: 0 60px;
}

/* global variables */
:root {
  --primary-color: #777EA6;
  --primary-highlight: #616994;
  --secondary-color: ;
  --secondary-highlight: ;
  --heading-color: #3a3a3a;
  --text-color: #5d5b5b;
  --text-info: #797575;
  --text-info-value: #ac2e2ee6;
  --accent-color: #767676;
  --bg-color: #DEDEE3;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

button {
  border-radius: 50px;
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 200;
  cursor: pointer;
  border: none;
  padding: 13px 18px;
  margin: 3% 0.5% !important;
  width: 100%;
}
button:hover {
  background-color: var(--primary-highlight);
}

ul {
  padding-inline-start: 0!important;
}