body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.App {
  display: flex;
}
.App .app-container {
  flex-grow: 1;
  padding: 0 60px;
}

/* global variables */
:root {
  /* colors */
  --primary-color: #777EA6;
  --primary-highlight: #616994;
  --heading-color: #3a3a3a;
  --text-color: #5d5b5b;
  --text-info: #797575;
  --text-info-value: #ac2e2ee6;
  --accent-color: #76767639;
  --bg-color: #DEDEE3;
  --bg-sidebar: #5b618bc2;
  
  /* others */
  --body-font: 'Gothic A1', sans-serif;
  --body-font-size: 1.1em;
  --typewriter-speed: 2s;
  --typewriter-steps: 6;
}

/* .page-title {

} */

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

button {
  border-radius: 50px;
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 200;
  cursor: pointer;
  border: none;
  padding: 13px 18px;
  margin: 3% 0.5% !important;
  width: 100%;
}
button:hover {
  background-color: var(--primary-highlight);
}

ul {
  padding-inline-start: 0!important;
}

a {
  text-decoration: none;
  color: var(--text-color);
}